body {
  margin: 0;
  padding: 0;
  position: relative; /* Añade posición relativa al cuerpo */
}

* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  z-index: 10000; /* Un z-index aún mayor para estar por encima de la capa semitransparente */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 90%;
  height: 20%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 12px; /* Bordes redondeados */
}

.cerrar {
  background-color: #b0b0b0;
  border-color: #b0b0b0;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: bold;
}

.centrado {
  text-align: center;
  margin: 20px 0; /* Ajuste para dar espacio alrededor del botón */
}

.btn {
  padding: 10px 20px; /* Ajuste según tus necesidades */
  cursor: pointer;
}

div {
  display: block;
}

.imagen-escalada {
  width: 100%;
  height: auto;
}

.texto-sobre-imagen {
  position: absolute;
  top: 154.6vw; /* Ajusta este valor para cambiar la posición vertical del texto */
  left: 35.5%; /* Centra el texto horizontalmente */
  right: 33.5%;
  color: #B28B22;/* Asegúrate de que el color del texto contraste con tu imagen */
  font-size: 3vw; /* Ajusta el tamaño del texto según el ancho de la ventana */
  text-wrap: wrap;
  font-family: 'Montserrat';
}

h2 {
  position: absolute;
  top: 163.6vw;
  left: 45%; /* Centra el texto horizontalmente */
  right: 40%;
  color: #874d4c;/* Asegúrate de que el color del texto contraste con tu imagen */
  font-size: 3vw; /* Ajusta el tamaño del texto según el ancho de la ventana */
  text-wrap: wrap;
  font-family: 'Montserrat';
}

.btnMapa {
  position: absolute;
  background-color:#a67c00;
  border-radius: 5px;
  border-color: #e2c100;
  top: 415vw;
  color: white;
  font-size: 3vw;
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%);
  width: 15%;
  text-align: center;
}

.btnSalon {
  position: absolute;
  background-color:#a67c00;
  border-radius: 5px;
  border-color: #e2c100;
  top: 506vw;
  color: white;
  font-size: 3vw;
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%);
  width: 15%;
  text-align: center;
}

#btnWhats {
  position: absolute;
  background-color:#128c7e;
  border-radius: 5px;
  border-color: transparent;
  top: 850vw;
  color: white;
  font-size: 3.4vw;
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%);
  width: 40%;
  height: 50px;
  text-align: center;
  align-items: center;
}

#whatsapp {
  position: fixed;
  bottom: 50%;
  right:15px;
  background-color: #6c757d;
}

#btnMusic {
  width: 2vw;
  height: 2vw;
  background-size: cover;
  border: none;
  cursor: pointer;
}

svg {
  width: 3vw;
  padding: 15px, 0px;
}

.countdown {
  position: absolute; /* Establece los elementos de la cuenta regresiva en posición absoluta */
  top: 82.4vw; /* Alinea verticalmente al centro */
  width: 72vw;
  height: 13vw;
  left: 20%;
  right: 20%;
  display: inline-flex;
}

.column {
  flex: 1; /* Divide el espacio disponible igualmente entre las columnas */
  text-align: center; /* Centra el contenido dentro de cada columna */
  padding: 15px;
}

.TimeDay {
  flex: 1; /* Divide el espacio disponible igualmente entre las columnas */
  text-align: center; /* Centra el contenido dentro de cada columna */
  font-size: 7vw;
  font-weight: bold; /* Peso de fuente en negrita */
  display: inline-block; /* Mostrar en línea */
  transform: translate(-10%, -10%);
}

.TimeDayText{
  font-size: 3vw; /* Tamaño de fuente */
  transform: translate(-7%, -80%);
}

.TimeHour {
  flex: 1; /* Divide el espacio disponible igualmente entre las columnas */
  text-align: center; /* Centra el contenido dentro de cada columna */
  font-size: 7vw;
  font-weight: bold; /* Peso de fuente en negrita */
  display: inline-block; /* Mostrar en línea */
  transform: translate(-10%, -10%);
}

.TimeHourText{
  font-size: 3vw; /* Tamaño de fuente */
  transform: translate(-4%, -80%);
}

.TimeMinute {
  flex: 1; /* Divide el espacio disponible igualmente entre las columnas */
  text-align: center; /* Centra el contenido dentro de cada columna */
  font-size: 7vw;
  font-weight: bold; /* Peso de fuente en negrita */
  display: inline-block; /* Mostrar en línea */
  transform: translate(-9%, -10%);
}

.TimeMinuteText{
  font-size: 3vw; /* Tamaño de fuente */
  transform: translate(-4%, -80%);
}

.TimeSecond {
  flex: 1; /* Divide el espacio disponible igualmente entre las columnas */
  text-align: center; /* Centra el contenido dentro de cada columna */
  font-size: 7vw;
  font-weight: bold; /* Peso de fuente en negrita */
  display: inline-block; /* Mostrar en línea */
  transform: translate(-12%, -10%);
}

.TimeSecondText{
  font-size: 3vw; /* Tamaño de fuente */
  transform: translate(-5%, -80%);
}


.lista-invitados {
  list-style-type: none;
  padding: 0;
}

/* Estilo para cada elemento de la lista */
.lista-invitados li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para la imagen del invitado */
.imagen-invitado {
  width: 100px; /* Tamaño de la imagen */
  height: auto;
  margin-right: 20px; /* Espaciado entre la imagen y los detalles */
}

/* Estilo para los detalles del invitado (nombre, formulario) */
.detalle-invitado {
  flex: 1; /* Permite que los detalles ocupen el espacio restante */
}

.carousel-inner {
  display: flex;
  align-items: center; /* Centra verticalmente */
  width: auto; /* Ancho del contenedor */
  height: 68vw; /* Altura deseada para el contenedor */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.carousel-inner img {
  margin-top: 28%;
  height: 48vw; /* Altura automática para mantener la proporción */
}

.carousel-control-prev{
margin-top: 50%;
}

.carousel-control-next{
  margin-top: 50%;
}
